.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
  color: white;
  background-color: rgb(20, 20, 20);
  background-color: #111;
  z-index: 1;
  transition: all 0.5;
  transition-timing-function: ease-in;
}

.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left ul li {
  cursor: pointer;
  font-size: 14px;
}
.header_left {
  height: 100%;
  display: flex;
  align-items: center; /* vertical centering */
}

.header_left ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center; /* align logo + text */
}
.header_right ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.header_right ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header_right ul li svg {
  color: white;
  font-size: 26px;
}
