.footer_outer_container {
  background-color: #111;
  color: gray;
  display: flex;
  justify-content: center;
}

.footer_inner_container {
  width: 60%;
}
.footer_icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  color: #fff;
}
.footer_data {
  display: flex;
  justify-content: space-between;
}
.footer_data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
}
.footer_data ul li {
  cursor: pointer;
}

.service_code {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  padding: 4px 12px;
  margin: 10px 0;
  cursor: pointer;
  white-space: nowrap;
}

.copy-write {
  font-size: 12px;
  margin-bottom: 10px;
}
