.footer_outer_container {
  background-color: #111;
  color: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.footer_inner_container {
  width: 60%;
  min-height: 200px;
  margin: auto;
}

.footer_icons {
  display: flex;
  gap: 20px;
  margin-left: 10px;
  color: #fff;
}

.footer_data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_data ul li {
  cursor: pointer;
}

.service_code {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  padding: 4px 12px;
  margin: 15px 0;
  cursor: pointer;
}

.copy-write {
  font-size: 12px;
  margin-bottom: 10px;
}
